.rbc-toolbar {
    display: flex;
    flex-direction: column;
}

span.rbc-btn-group.actions-group {
    display: flex !important;
    flex-direction: row;
}

.rbc-toolbar .rbc-toolbar-label {
    font-size: 40px;
    font-weight: 600;
    text-align: left ;
    padding: 0;
    flex-grow: 0;
    width: 380px;
}

.toolbar-top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-bottom-row {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.toolbar-bottom-row span.rbc-btn-group.actions-group {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 20px;
}

.scheduling-color-bar {
    width: 500px;
    height: 40px;
    display: flex;
}

.scheduling-color-bar div {
    height: 40px;
    width: 25%;
}

.scheduling-color-bar div:nth-child(1) {
    background-color: var(--color-cal-orange-bar);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.scheduling-color-bar div:nth-child(2) {
    background-color: var(--color-cal-blue-bar);
}

.scheduling-color-bar div:nth-child(3) {
    background-color: var(--color-cal-green-bar);
}

.scheduling-color-bar div:nth-child(4) {
    background-color: var(--color-cal-pink-bar);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

span.rbc-btn-group.view-group {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 4px;
}

span.rbc-btn-group.view-group button {
    border: none;
}

span.rbc-btn-group.view-group button:hover,
span.rbc-btn-group.view-group button:focus,
span.rbc-btn-group.view-group button:active {
    box-shadow: none !important;
}

span.rbc-btn-group.view-group button:hover {
    background-color: transparent !important;
}

div.toolbar-top-row > span.rbc-btn-group.view-group > button.active-calendar-view {
    border: 1px solid black;
    background-color: var(--color-lime-500) !important;
    border-radius: 40px;
    height: fit-content;
    padding: 1px 10px;
    font-weight: bold;
}

.toolbar-top-row > span.rbc-btn-group.nav-group button {
    border: none;
}

.toolbar-top-row > span.rbc-btn-group.nav-group button:hover,
.rbc-toolbar button:hover {
    background-color: transparent !important;
}

.toolbar-top-row > span.rbc-btn-group.nav-group button:hover,
.toolbar-top-row > span.rbc-btn-group.nav-group button:focus,
.rbc-toolbar button:focus,
.rbc-toolbar button:hover {
    box-shadow: none !important;
}

/* Today button */
.toolbar-top-row > span.rbc-btn-group.nav-group button:nth-child(2) {
    font-size: 24px;
}

/* Back and Next button */
.toolbar-top-row > span.rbc-btn-group.nav-group button:nth-child(1)::before,
.toolbar-top-row > span.rbc-btn-group.nav-group button:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 34px;
    height: 46px;
    background-image: url("/src/assets/maincal/BackButtonCal.svg");
    background-repeat: no-repeat;
    margin-right: 3px;
}

.toolbar-top-row > span.rbc-btn-group.nav-group button:nth-child(1),
.toolbar-top-row > span.rbc-btn-group.nav-group button:nth-child(3) { 
    padding: 0; 
}

.toolbar-top-row > span.rbc-btn-group.nav-group button:nth-child(3)::before {
    transform: rotate(180deg);
}

div.toolbar-top-row > span.rbc-btn-group.nav-group {
    display: flex;
    align-items: center;
}

button.calendar-nav-buttons,
.calendar-nav-buttons {
    border: 1px solid black;
    border-radius: 40px !important;
    padding: 4px 16px;
}

button.calendar-nav-buttons:hover,
div.rbc-toolbar > div.toolbar-bottom-row > span > button:active,
div.rbc-toolbar > div.toolbar-bottom-row > span > button:focus {
    border: 1px solid black;
    font-weight: bold;
    background-color: var(--color-lime-500) !important;
}

input[type="search"].calendar-nav-buttons {
    color: black;
    background-image: none;
    width: 300px;
}

/* add new button */
div.rbc-toolbar > div.toolbar-bottom-row > span > button:nth-child(1) {
    width: 120px;
}

/* all bookings button */
div.rbc-toolbar > div.toolbar-bottom-row > span > button:nth-child(3) {
    width: 210px;
    text-align: left;
    background-image: url("/src/assets/maincal/BackButtonCal.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10%;
    background-position-x: 174px;
}
