@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --color-lime-500: #B9FF00;
  --color-indigo-purple: #262445;
  --color-light-purple: #ABB9FF;
  --color-light-purple-subtle: #ABA6E3;
  --color-dark-navy: #262445;
  --color-dark-purple: #5E54B5;
  --color-light-grey: #F0F7F2;
  --color-bright-purple: #B27DED;
  --color-cal-bg: #F0F7F2;
  --color-cal-font: #262445;
  --color-cal-orange-bar: #FFB680;
  --color-cal-blue-bar: #7DDCFB;
  --color-cal-green-bar: #C8E887;
  --color-cal-pink-bar: #F2A6E0;
  --color-cal-cur-date: #A96EFF;
  --font-all: 'Poppins', sans-serif;
}

@layer base {
  input {
    @apply relative pb-1 bg-transparent text-light-purple focus:outline-none w-full;
    border: none; 

    background-image: linear-gradient(to right, var(--color-light-purple) 100%, transparent 0);
    background-repeat: no-repeat;
    background-size: 100% 2px; 
    background-position: 0 calc(100% - 3px); 
  }

  input:focus {
    background-image: linear-gradient(to right, var(--color-lime-500) 100%, transparent 0);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
  -webkit-text-fill-color: var(--color-light-purple);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 0 1000px transparent;
    border-bottom: 2px solid var(--color-light-purple) !important;
  }
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background:  var(--color-dark-purple);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-lime-500);
    border-radius: 100vh;
  }

  /* Hide scrollbar while keeping functionality */
  .ya-carousel-container .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .ya-carousel-container .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

@layer utilities {
  .scrollbar-purple::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-purple::-webkit-scrollbar-track {
    background: #5E54B5;
    border-radius: 100vh;
  }

  .scrollbar-purple::-webkit-scrollbar-thumb {
    background: #B27DED;
    border-radius: 100vh;
  }
}
